// Main colors
$brand-color: #0079c4;
$main-bg-color: #fff;
$dark-grey: #777777;
$light-grey: #e9e9e9;
$black: #444444;
$red: #f00c01;
$yellow: #ffce50;

// Sidebar colors
$sidebar-bg-color: $main-bg-color;
$sidebar-text-color: $dark-grey;
$sidebar-hover-color: lighten($light-grey, 5%);
$sidebar-active-color: $light-grey;

// Sidebar text
$sidebar-title-fz: 1.8rem;

// Sidebar size
$sidebar-icon-height: 2rem;
$sidebar-icon-width: 2rem;

// Notelist colors
$notelist-bg-color: $light-grey;
$notelist-hover-color: $light-grey;
$notelist-active-color: $main-bg-color;

// Editor colors
$editor-bg-color: $main-bg-color;

$sidebar-width: 20rem;
$notes-viewer-width: 30rem;

// Spacing
$small-space: 1rem;
$space: 2rem;
$large-space: 3rem;
