@import "./SearchBar";

.top-bar {
  width: 100%;
  padding: $space $space $small-space $space;
  color: $black;
}

.top-bar__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $small-space;
}

.top-bar__icon {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
  cursor: pointer;

  &:hover,
  &:active {
    color: $brand-color;
  }
}

.top-bar__location-name {
  margin: 0 $small-space;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
