@import "./SearchBar";

.top-bar {
  width: 100%;
  padding: $space $space $small-space $space;
  color: $black;
}

.top-bar__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $small-space;
  align-items: center;
}

.top-bar__button {
  color: currentColor;

  &:disabled {
    color: $red;
    pointer-events: none;
  }
}

.top-bar__icon {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
  cursor: pointer;

  &:hover,
  &:active {
    color: $brand-color;
  }
}

.top-bar__location {
  display: flex;
  margin: 0 $small-space;
  align-items: center;
}

.top-bar__location-icon {
  fill: currentColor;
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
}

.top-bar__location-name {
  margin-left: $small-space / 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
