.folder-select {
  display: flex;
  position: relative;
  color: $dark-grey;
  cursor: pointer;
  align-items: center;
  user-select: none;

  &:hover {
    color: $black;
  }
}

.folder-select__icon {
  fill: currentColor;
  flex-shrink: 0;
  width: 1.8rem;
  height: 1.8rem;
}

.folder-select__name {
  margin-left: $small-space / 2;
  color: inherit;
  font-weight: 500;
}

.folder-select__dropdown {
  position: absolute;
  z-index: 5;
  bottom: -$small-space;
  left: $small-space;
  transform: translateY(100%);
  background: $main-bg-color;
  border: 1px solid $light-grey;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  width: 20rem;

  &--empty {
    cursor: auto;
  }
}

.folder-select__item {
  color: $dark-grey;
  padding: $small-space;
  display: flex;
  align-items: center;

  &--selected {
    pointer-events: none;
  }

  &--selected,
  &:hover {
    background: $light-grey;
    color: $black;
  }

  &--selected .folder-select__item-icon,
  &:hover .folder-select__item-icon {
    fill: $brand-color;
  }
}

.folder-select__item-icon {
  fill: currentColor;
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
}

.folder-select__item-name {
  margin-left: $small-space / 2;
  color: currentColor;

  overflow: hidden;
  flex: 0 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}
