@import "TitleBar";
@import "FolderSelect";
@import "TagSelect";

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 $space;
}

.details__editor {
  padding: $small-space 0;
  overflow-y: auto;
  word-break: break-all;
}

.details__title-bar {
  padding: $small-space 0;
  border-bottom: 2px solid $light-grey;

  align-items: center;
}

.details__storage-info {
  margin-top: $small-space;
  display: flex;
}
