.tag-select {
  margin-left: $small-space;
  display: flex;
}

.tag-select__tag {
  display: flex;
  padding: 4px 6px;
  align-items: center;
  color: $main-bg-color;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 2rem;
  background: lighten($brand-color, 25%);
  margin-right: $small-space;

  &:last-of-type {
    margin-right: 0;
  }
}

.tag-select__tag-icon {
  fill: currentColor;
  flex-shrink: 0;
  width: 1.6rem;
  height: 1.6rem;
}

.tag-select__tag-name {
  color: inherit;
  font-weight: 500;
  line-height: 1;
}

.tag-select__tag-cross-icon {
  margin-left: $small-space / 2;
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:before,
  &:after {
    position: absolute;
    content: " ";
    left: 50%;
    height: 1.2rem;
    width: 3px;
    background-color: $main-bg-color;
  }

  &:before {
    transform: translateX(-50%) rotate(45deg);
  }

  &:after {
    transform: translateX(-50%) rotate(-45deg);
  }
}

/*
  React Autosuggest styles
*/
.react-autosuggest__container {
  position: relative;
  color: $dark-grey;
}

.react-autosuggest__input {
  font-weight: 500;
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: inherit;
  width: 15rem;
}

.react-autosuggest__input--open {
  border: none;
  outline: none;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  background: $main-bg-color;
  border: 1px solid $light-grey;
  border-radius: 0.2rem;
  display: none;
  flex-direction: column;

  &--open {
    display: flex;
  }
}

.react-autosuggest__suggestions-list {
  padding: $small-space / 2 $small-space;
  background: $main-bg-color;
  list-style: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;

  &:hover {
    color: $black;
  }
}
