.details__toolbar {
  margin: 0 auto;
  padding: $small-space;
}

.toolbar__button {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
  margin: 0 1rem;
  cursor: pointer;

  &:hover,
  &:active {
    fill: $brand-color;
  }

  &--active {
    fill: $brand-color;
  }

  &:disabled {
    fill: $light-grey;
  }
}
