.note-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 12rem;
  padding: $space;
  text-decoration: none;
  color: $black;
  background: $notelist-bg-color;

  &:hover {
    background: darken($notelist-bg-color, 10%);
  }

  &::after {
    position: absolute;
    right: $space;
    bottom: 0;
    left: $space;
    height: 2px;
    content: "";
    background: darken($notelist-bg-color, 10%);
  }
}

.note-item__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.note-item__updated-at {
  margin-top: -2px;
  margin-bottom: $small-space / 2;
  color: lighten($dark-grey, 10%);
  font-size: 1.2rem;
  font-style: italic;
}

.note-item__content {
  overflow: hidden;
  word-break: break-all;
  font-size: 1.4rem;
}
