.note-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 12rem;
  padding: $space;
  text-decoration: none;
  color: $black;
  background: $notelist-bg-color;

  &--active {
    pointer-events: none;
    cursor: default;
    background: darken($notelist-bg-color, 10%);
  }

  &:hover {
    background: darken($notelist-bg-color, 10%);
  }

  &::after {
    position: absolute;
    right: $space;
    bottom: 0;
    left: $space;
    height: 2px;
    content: "";
    background: darken($notelist-bg-color, 10%);
  }
}

.note-item__row {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.note-item__title {
  font-size: 1.8rem;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
  white-space: nowrap;
}

.note-item__icon {
  margin-left: $small-space;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  fill: currentColor;
  cursor: pointer;
  display: none;
  pointer-events: auto;

  &:hover {
    fill: $main-bg-color;
  }
}

.note-item__star-icon {
  fill: $yellow;
}

.note-item:hover .note-item__icon,
.note-item--active .note-item__icon,
.note-item__star-icon--starred.note-item__icon {
  display: block;
}

.note-item__updated-at {
  margin-top: -2px;
  margin-bottom: $small-space / 2;
  color: lighten($dark-grey, 10%);
  font-size: 1.2rem;
  font-style: italic;
}

.note-item__content {
  overflow: hidden;
  word-break: break-all;
  font-size: 1.4rem;
}
