.sidebar {
  background: $sidebar-bg-color;
  color: $sidebar-text-color;
  width: $sidebar-width;
}

.sidebar__menu {
  width: 100%;
  margin-bottom: 3rem;
}

.menu__item {
  display: flex;
  border: 0;
  padding: 1rem 1.5rem 0.75rem 2rem;
  background: none;
  width: 100%;
  font-size: $sidebar-title-fz;
  font-weight: 500;
  color: $sidebar-text-color;
  cursor: pointer;
  align-items: center;

  &:hover {
    background: $sidebar-hover-color;
  }

  &--active,
  &:active {
    background: $sidebar-active-color;
    color: $black;
  }
}

.menu__icon {
  height: 2rem;
  width: 2rem;
}

.menu__item--active .menu__icon {
  color: $brand-color;
}

.menu__text {
  margin-left: 1rem;
}

.menu__count {
  margin-left: auto;
}
