.sidebar__folder-list {
  width: 100%;
}

.folder-list__title {
  display: flex;
  align-items: center;
  padding: $small-space $small-space / 2 0 $small-space / 2;
  font-size: 1.8rem;
  font-weight: 500;
}

.folder-list__icon {
  height: 3rem;
  width: 3rem;
  fill: currentColor;
  transition: all 0.2s;

  &--chevron {
    &:hover,
    &:active {
      color: $brand-color;
    }
  }

  &--new {
    margin-left: auto;

    &:hover,
    &:active {
      color: $brand-color;
    }
  }
}

.folder-list__item {
  padding: $small-space / 2 $small-space $small-space / 2 $space;
  display: flex;
  align-items: center;

  &:hover {
    background: $sidebar-hover-color;
  }

  &--active,
  &:active {
    background: $sidebar-active-color;
    color: $black;
  }
}

.sidebar__folder-list--is-open .folder-list__icon--chevron {
  transform: rotate(90deg);
}

.item__icon {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
  flex-shrink: 0;
}

.item__name {
  margin-left: $small-space / 2;
  line-height: 1;
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
